<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head"></head>
    <body>
        <div th:replace="layout :: menu(${subTotal})"></div>

        <section class="cart">
            <h1>Error</h1>

            <strong th:if="${exception == null}">
                Page not found!
            </strong>

            <strong th:unless="${exception == null}"
                    th:text="${exception}">
            </strong>
        </section>

    </body>
</html>